@keyframes fadeOutline {
  to {
    outline-color: transparent;
  }
}

article.md-typeset {
  h1 {
    opacity: 0.8;
  }
  h1, h2, h3 {
    font-weight: 300;
  }
  p {
    line-height: 1.6;
  }
  a {
    text-decoration: none;
  }
  em {
    color: var(--md-default-fg-color--light);
  }
  code {
    font-feature-settings: "calt" !important;
  }
  blockquote {
    border-color: var(--md-default-fg-color--lightest) !important;
    border-width: 0.15rem !important;
  }
  [data-md-color-scheme="slate"] & strong {
    color: hsla(var(--md-hue), 0%, 100%, 1);
    font-weight: 500;
  }
  .admonition:not(:has(.admonition-title)) {
    background: none;
    border: dashed 1pt var(--md-accent-fg-color--transparent);
  }
  .footnote-ref {
    font-weight: 500;
    &::before, &::after {
      opacity: 0.5;
      decoration: none;
    }
    &::before {
      content: "[";
      margin-right: 1pt;
    }
    &::after {
      content: "]";
      margin-left: 1pt;
    }
    [id^="fnref:"]:target > & {
      outline: solid;
      animation: fadeOutline 2s forwards;
    }
  }
}

.md-copyright a {
  text-decoration: none;
}

a.headerlink {
  user-select: none;
  h1:first-child > & {
    display: none !important;
  }
}

.md-footer__direction {
  opacity: 0.4;
}

.md-source__fact.md-source__fact--version {
  display: none;
}

.md-source__repository.md-source__repository--active {
  font-family: var(--md-code-font-family);
  max-width: 100%;
  white-space: nowrap;
}

.md-source__repository.md-source__repository--active li.md-source__fact::before {
  width: 0.5rem;
  transform: translateY(0.08rem);
}

a.md-source {
  width: fit-content;
}

header.md-header {
  background: linear-gradient(to bottom, var(--md-default-bg-color), var(--md-default-bg-color--light));
}
